/* ESTILO.CSS */

*{ margin: 0; padding: 0; }
body{ font-family: helvetica, arial; font-size: 16px; color:#333;}
header{ height: 70px; background-color:#3b3b3b; padding:10px 0; }


/* class */
.container{ margin: 0 auto; width: 1100px; 
}

/* id */
#conteudo{ padding:50px 0; }
#menu{ float:right; padding: 30px 0; width: 75%; background-color: #3b3b3b;}
#menu a{ text-decoration: none; padding: 30px 50px; color: #e3e3e3; text-shadow: 1px 1px 1px #111; }
#menu a:hover{ 
	background-color:rgb(31, 30, 30); 
	color: rgb(233, 233, 222); 
	border-radius: 50%;
	text-decoration: underline ;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	text-decoration: underline ;
	box-shadow: 2px 2px 54px -19px rgb(255, 255, 255);
	color: rgb(190, 190, 8);
 }
